/*CSS general*/
html, body{
  width: 100%;
  height: 100%;
  margin: auto;
}
a{
  text-decoration: none;
}
h1{
  text-align: center;
  letter-spacing: 6px;
  font-family: GL;
  font-size: 36px;
}
/*fonts*/
@font-face { font-family: OL ; src: url('font/Ormont_Light.ttf');}
@font-face { font-family: GL ; src: url('font/GeosansLight.ttf');}
@font-face { font-family: SE ; src: url('font/Soft Elegance.ttf');}

/*colors
#35a60d; green
*/
/*header*/
header{
  background-image: url('img/bg_header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100%;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}
.opacitybg{
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
/*navbar*/
nav{
  width: 100%;
  height: 120px;
}
nav a{
  color: white;
  margin-right: 3%;
  font-family: SE;
  font-size: 18px;
}
.navbar a:hover{
  color: #f2a7de;
  text-decoration: underline;
}
.logo {
  height: 100px;
  margin-top: 1.5%;
  margin-left: 7%;
}
.fd, .hiw, .oc, .su{
  padding-top: -5%;
}
.fd{
  margin-left: 34%;
}
header h1{
  margin-top: 9%;
  text-align: left;
  margin-left: 8%;
  color: white;
  font-size: 44px;
}
/*buttons*/
.buttons{
  display: flex;
  justify-content: flex-start;
}
.buttons a{
  color: white;
  font-family: SE;
  font-size: 18px;
}
.bshare{
  border-radius: 200px;
  background-color: #f2a7de;
  border: solid 1px #f2a7de;
  margin-left: 8%;
  margin-right: 2%;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
.bshare:hover{
  background-color: #f2a7de;
  text-decoration: none;
  color: white;
  border-color: #f2a7de;
}
.bmore:hover{
  background-color: #f2a7de;
  text-decoration: none;
  color: white;
}
.bmore{
  border-radius: 200px;
  padding: 1%;
  background-color: transparent;
  border: solid 1px #f2a7de;
  padding-left: 2%;
  padding-right: 2%;
}
/*cell1 && general*/
.cell1{
  width: 100%;
  height: 700px;
  font-family: SE;
}
.cell1 h1{
  margin-top: 6%;
  padding-bottom: 1%;
}
.cell1 h1:after{
  display: block;
  height: 2px;
  background-color: #f2a7de;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.cell1 h2{
  width: 70%;
  margin-left: 15%;
  font-family: GL;
  letter-spacing: 0.5px;
  padding-bottom: 2%;
}
.cell1 h3{
  font-family: GL;
  font-size: 20px;
}
.cell1 p{
  font-size: 20px;
}
/*petit icons*/
.cell1 .glyphicon{
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: #f2a7de;
  margin-top: 5%;
}
.cell1 .fa {
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: #f2a7de;
  margin-top: 5%;
}
/*cells*/
.bloccell{
  display: flex;
  justify-content: flex-start;
}
.BC1, .BC2, .BC3, .BC4{
  padding: 1%;
  width: 20%;
  margin-right: 1%;
}
.BC1{
  margin-left: 10%;
}
/*cell2 photo*/
/*cell2 general*/
.cell2{
  background-color: black;
  height: 560px;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
.cell2B1, .cell2B2{
  justify-content: flex-start;
  display: flex;

}
.cell2img1, .cell2img2, .cell2img3, .cell2img4, .cell2img5, .cell2img6, .cell2img7, .cell2img8{
  width: 25%;
  height: 280px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*.cell2img1:hover{
  background-position: center;
  height: 300px;
  overflow: hidden;
}*/
.cell2B1 img:hover{
  background-position: center;
  height: 300px;
  overflow: hidden;
  margin-left: -4%;
  opacity: 1;
  transition: 0.3s;
}
.cell2B2 img:hover{
  background-position: center;
  height: 300px;
  overflow: hidden;
  margin-left: -4%;
  opacity: 1;
  transition: 0.3s;
}
/*image rang1*/
.cell2B2 img, .cell2B1 img{
  height: 280px;
  opacity: 0.7;
}
.cell2img1 img{
  height: 280px;
}
.cell2img2 img{
  height: 280px;
}
.cell2img3 img{
  height: 280px;
}
.cell2img4 img{
  height: 280px;
}
/*image rang2*/
.cell2img5 img{
  height: 280px;
}
.cell2img6 img{
  height: 280px;
}
.cell2img7 img{
  height: 280px;
}
.cell2img8 img{
  height: 280px;
}

/*cell3 phoneapp || general*/
.cell3{
  margin: 0%;
  padding: 0%;
  height: 750px;
  width: 100%;
  background-color: #f4f4f4;
}
.cell3 h1:after{
  display: block;
  height: 2px;
  background-color: #f2a7de;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.cell3img img{
  height: 440px;
  margin-right: 5%;
}
.cell3 h1{
  text-align: center;
  padding-top: 6%;
  padding-bottom: 7%;
  margin: 0%;
}
.cell3 p{
  padding-top: 3%;
  font-size: 20px;
  font-family: SE;
  margin-left: 3%;
  height: 20px;
}
.cell3bloc{
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9.5%;
  width: 55%;
  letter-spacing: 1px;
  margin-top: 2%;
}
.grosbloc3{
  display: flex;
  justify-content: flex-start;
  margin-left: 30%;
}
.option1, .option2, .option3{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3%;
}
/*specific buttons + numbers*/
.app_google{
  display: flex;
  justify-content: flex-start;
}
.app_google img{
  height: 50px;
  margin-top: 18%;
}
.googleplay img{
  margin-top: 21%;
}
.app_google a{
  margin-right: 10%;
}
.numbers{
  margin-top: 3%;
  border: 2px solid #f2a7de;
  color: #f2a7de;
  font-size: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50%;
}
/*cell4 || general*/
.cell4{
  height: 650px;
  width: 100%;
}
.cell4 p{
  font-size: 22px;
}
.cell4 a{
  color: #f2a7de;
  text-decoration: underline;
  font-size: 18px;
}
.cell4 a:hover{
  color: black;
  text-decoration: none;
}
.cell4 h1{
  padding-top: 6%;
  color: black;
}
.cell4 h1:after{
  display: block;
  height: 2px;
  background-color: #f2a7de;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.bloc4{
  display: flex;
  justify-content: flex-start;
}
.c4{
  font-size: 20px;
  padding-bottom: 3%;
}
/*specific*/
.lisbon, .SF, .berlin, .london{
  width: 20%;
  margin-top: 5%;
  margin-right: 2%;
  letter-spacing: 1px;
}
.lisbon{
  margin-left: 8%;
}

.c4img img{
  height: 170px;
}
.cell4 h1{
  margin: 0%;
}
/*icons*/
.fa-group{
  color: #f2a7de;
  margin-right: 3%;
}
.fa-star{
  color: #f2a7de;
  margin-right: 3%;
}
.cell4 .fa-twitter{
  color: #f2a7de;
  margin: 0%;
  margin-right: 3%;
}
.cell4 .fa-twitter:hover{
  color: #00aced;
}
/*cell5 +general*/
.cell5{
  background-image: url("img/customer_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}
.cell5 h1:after{
  display: block;
  height: 2px;
  background-color: #f2a7de;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.cell5 h1{
  margin: 0%;
  color: white;
  padding-top: 6%;
  padding-bottom: 4%;
}
.cell5 p{
  font-family: SE;
  color: white;
  font-size: 20px;
  padding-bottom: 5%;
  height: 200px;
}
.fa-quote-left{
  color: white;
}
.cell5 .fa{
  font-size: 34px;
}
.copacity{
  background-color: rgba(0, 0, 0, 0.7);
  height: 600px;
  width: 100%;
}
.cell5bloc{
  display: flex;
  justify-content: flex-start;
}
.person1{
  display: flex;
  justify-content: flex-start;
}
.person1 img{
  height: 50px;
  border-radius: 50%;
  margin-right: 4%;
}
.person1 p{
  margin-top: 2%;
  font-style: italic;
}
.c1, .c2, .c3{
  width: 25%;
  margin-right: 2%;
}
.c1{
  margin-left: 10%;
}
/*cell6 || general*/
.cell6{
  height: 800px;
  width: 100%;
  background-color: #f4f4f4;
}
.cell6 p{
  font-family: GL;
  font-size: 20px;
  /*border-bottom: 2px solid #f4f4f4;*/
}
.cell6 h1:after{
  display: block;
  height: 2px;
  background-color: #f2a7de;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.cell6 h1{
  margin: 0%;
  padding-top: 6%;
  padding-bottom: 4%;
}
.cell6 h2, .cell6 h3{
  font-family: GL;
}
.cell6 h2{
  font-size: 54px;
  color: #f2a7de;
}
.cell6bloc{
  justify-content: space-around;
  display: flex;
}
/*specific*/
.fa-check, .fa-close{
  color: #f2a7de;
  margin-right: 6%;
}
.cell6 span{
  font-size: 20px;
}
.cell6 .ws{
  color: white;
}
/*buttons*/
.cell6 .button1:hover{
  background-color: #f2a7de;
  text-decoration: none;
  color: white;
  border-color: #f2a7de;
}
.button2:hover{
  background-color: #f2a7de;
  text-decoration: none;
  color: white;
}
.button1{
  border-radius: 200px;
  background-color: #f2a7de;
  border: solid 1px #f2a7de;
  margin-left: 28%;
  padding: 4%;
  padding-left: 8%;
  padding-right: 8%;
}
.button2{
  border-radius: 200px;
  padding: 4%;
  background-color: transparent;
  border: solid 1px #f2a7de;
  padding-left: 8%;
  padding-right: 8%;
  margin-left: 28%;
  color: #f2a7de;
}
.button2:link{
  color:#f2a7de;
}
.b1 a{
  color: white;
}
/*ul li*/
.SU1 ul{
  font-size: 20px;
  font-family: SE;
  list-style: none;
  padding: 0%;
}
.SU1 li{
  list-style-type: none;
  padding-bottom: 1%;
}
.SU1{
  background-color: white;
  padding: 2%;
  height: 450px;
  width: 25%;
}
.lastli{
  margin-bottom: 15%;
}
/*cell7 || general*/
.cell7{
  height: 600px;
  width: 100%;
  background-color: white;
  justify-content: flex-start;
  display: flex;
}
.cell7 h1{
  padding: 1%;
  padding-top: 6%;
  margin-left: 3%;
  font-size: 34px;
  letter-spacing: normal;
}
.forms{
  width:49%;
}
.cell7 h1:after{
  display: block;
  height: 2px;
  background-color: #f2a7de;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.contain{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 4%;
  font-family: SE;
  letter-spacing: 1px;
}
.first{
  margin-left: 10%;
  font-size: 20px;
}
.email{
  margin-left: 24.5%;
}
.name{
  margin-left: 23%;
}
.choices{
  margin-left: 2%;
}
.checkbox{
  margin-left: 19%;
}
.dropus{
  margin-left: 12%;
  padding-bottom: 0%;
}
.buttons3{
  border-radius: 200px;
  background-color: #f2a7de;
  border: solid 1px #f2a7de;
  margin-left: 41%;
  padding: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  font-size: 20px;
}
.buttons3 a:hover{
  
}
textarea{
  height: 100px;
  width: 300px;
}
.email input, .name input{
  width: 300px;
}
select{
  width: 100px;
}
/*footer*/
footer{
  height: 180px;
  width:100%;
  background-color: #333;
}
.footbar{
  justify-content: flex-start;
  display: flex;
}
.footbar a{
color: white;
}
.footbar a:hover{
  opacity: 0.7;
  text-decoration: none;
  color: white;
}
.ftxt{
  margin-top: 4.5%;
  margin-right: 1.5%;
}
.ftxt1{
  margin-top: 4.5%;
  margin-left: 7%;
  margin-right: 1.5%;
}
.ftxt2{
  margin-top: 4.5%;

}
.foottxt{
  text-align: center;
  margin-top: 3%;
  color: grey;
}
/*social media*/
.fa {
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}
/*fb*/
footer .fa-facebook:hover {
    color: #345bab;
    text-decoration: none;
}
footer .fa-facebook {
    color: white;
    margin-top: 4.5%;
    margin-left: 50%;
    margin-right: 1%;
}
/*twitter*/
footer .fa-twitter{
  color: white;
  margin-top: 4.5%;
  margin-right: 1%;
}
footer .fa-twitter:hover {
    color: #00aced;
    text-decoration: none;
}
/*google plus*/
footer .fa-google-plus{
  color: white;
  margin-top: 4.5%;
  margin-right: 1%;
}
footer .fa-google-plus:hover {
    color: #e52f21;
    text-decoration: none;
}
/*instagram*/
footer .fa-instagram{
  color: white;
  margin-top: 4.5%;
  margin-right: 1%;
}
footer .fa-instagram:hover {
    color: #ff9d24;
    text-decoration: none;
}
